/* Dark mode calendar styles */
.react-calendar {
    background-color: #183031;  /* Dark background */
    color: #ecf6e7;             /* Light text color */
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  }
  
  .react-calendar__tile {
    /* font-size: 14px; */
    padding: 12px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .react-calendar__tile--hover:enabled { /* Hover effect on tiles */
    background-color: #cdd7ac;
  }
  
  .react-calendar__tile--active {
    background-color: #4da083;  /* Active tile background */
    color: #a3d3ed;
  }
  
  .react-calendar__tile--now {
    background-color: #a3d3ed;  /* Today's date background */
    color: #ecf6e7;
  }
  
  .react-calendar__navigation button {
    background-color: #183031;  /* Navigation button background */
    color: a3d3ed;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 8;
  }
  
  .react-calendar__navigation button:hover {
    background-color: #183031;  /* Hover effect for navigation buttons */
  }
  
  /* Calendar container positioning */
  .calendar-container {
    position: fixed;
    top: 30vh;               /* 50px from the top of the page */
    left: 35vw;               /* Center horizontally */
  }
  
  /* Dark mode button styles for clearing selection */
  button {
    background-color: #183031;  /* Dark button background */
    color: #a3d3ed;             /* Light text color */
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  /* Button hover effect */
  button:hover {
    background-color: #4da083;  /* Slightly lighter gray on hover */
    color: #ecf6e7;
  }
  
  /* Button active state */
  button:active {
    background-color: #326956;  /* Darker gray when clicked */
    color: #ecf6e7;
  }
  
  /* Remove button focus outline */
  button:focus {
    outline: none;  /* Cleaner look without the focus outline */
  }
  