/* Style for the form container */
.add-form {
  width: 35vw; /* Fixed width */
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #cdd7ac; /* White background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: #404525; /* Shadow */
  
  
  position: fixed;
  top: 35vh;
  left: 32vw;
}
  
/* Style for each form control */
.form-control {
  width: 100%;
  margin-bottom: 15px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.form-control label {
  margin-bottom: 5px; /* Add space between label and input field */
  font-size: 22px;
}

/* Style for the input fields */
input[type="text"],
input[type="password"] {
  width: 100%; /* Ensure inputs take full width of their container */
  max-width: 300px; /* Optional: limit the maximum width of the input */
  padding: 8px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px;
  box-sizing: border-box; /* Prevent padding from affecting width */
  font-size: 16px;
}

/* Style for the submit button */
input[type="submit"] {
  width: 100%; /* Ensure the button takes full width */
  padding: 10px;

  background-color: #42827f; /* Blue button */
  color: #ecf6e7;
  font-size: 16;
  box-shadow: 0 5px 0 #186561;

  border-radius: 4px;

  cursor: pointer;
}

input[type="submit"]:active {
  box-shadow: none;
  transform: translateY(5px);
}

input[type="submit"]:disabled {
background-color: #ccc; /* Gray when disabled */
cursor: not-allowed;
}
