#destination_page {
  background-image: url('../assets/wiz_background.PNG');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
}

#chatbox {
  position: fixed;
  top: 12vh;
  left: 25vw;
  z-index: 9;

  background-image: url("../wiz_chatbox.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 45vw;

  padding-top: 3vh;
  padding-bottom: 5vh;
  text-align: center;
  font-size: 22px;
}

#wizard {
  position: fixed;
  top: 15vh;
  left: 3vw;
  z-index: 10;

  max-width: 30vw;
}

  