#travel_plan_page {
  background-image: url("../assets/wiz_background.PNG");
  background-color: lightblue;

  background-size: cover;
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;

  z-index: 1;
  }


#travel_plan_wizard {
  position: fixed;
  bottom: 0vh;
  left: 0vw;
  z-index: 10;

  max-width: 30vw;
}


#wizard_chatbox_bottom {
  position: fixed;
  bottom: 10vh;
  left: 25vw;
  z-index: 9;

  background-image: url("../wiz_chatbox.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 45vw;

  padding-top: 3vh;
  padding-bottom: 6vh;
  text-align: center;
  font-size: 22px;
}

  
#scroll_text {
  position: fixed;
  top: 10vh;
  left: 27vw;
  z-index: 9;

  background-image: url("../wizard_scroll.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 55vh;
  width: 50vw;

  padding-top: 5vh;
  text-align: center;
  font-size: 22px;
}
